src/main/mule/cicd-pipeline-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="77bef1ab-5b5e-4b2f-8782-6713f72c5660" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-pipeline-demoFlow" doc:id="779cead7-8a62-43e6-a194-e837beef54bf" >
		<http:listener doc:name="Listener" doc:id="3f63cb06-5714-4e4f-92a0-7da92eb82bd7" config-ref="HTTP_Listener_config" path="/cicd-pipe"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="51d6a8e8-fc9b-475d-8c4b-2bf015a68c22" />
	</flow>
</mule>
